﻿@model WebParking.Models.ParkingSpot
@{
    ViewBag.Title = "AddNewParkingSpot";
}

<h2>AddNewParkingSpot</h2>
@using (Html.BeginForm("SaveNewParkingSpot", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.IsFree)
        @Html.TextBoxFor(a => a.IsFree, new { @class = "form-control" })
        <div style="color:tomato">
            @Html.ValidationMessageFor(a => a.IsFree)
        </div>
    </div>
    <input type="submit" value="Save" />
    @Html.ActionLink("назад", "GetAllParkingSpots")
}
