﻿@model WebParking.Models.Car

@{
    ViewBag.Title = "AddNewCar";
}

<h2>Add New Car</h2>

@using (Html.BeginForm("SaveNewCar", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.CarModel)
        @Html.TextBoxFor(a => a.CarModel, new { @class = "form-control" })
        <div style="color:tomato">
            @Html.ValidationMessageFor(a => a.CarModel)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.CarNumber)
        @Html.TextBoxFor(a => a.CarNumber, new { @class = "form-control" })
        <div style="color:tomato">
            @Html.ValidationMessageFor(a => a.CarNumber)
        </div>
    </div>
    <input type="submit" value="Save" />
    @Html.ActionLink("назад", "GetAllParkingSpots")
}
@*<!DOCTYPE html>
<html>
<body>

    <h2>Add New Car</h2>

    <form id="NewCar" acti ="/action_page.php">
        Car Model: <input type="text" name="CarModel"><br>
        Car Number: <input type="text" name="CarNumber"><br><br>
        <input type="button" onclick="myFunction()" value="Save">
    </form>

    <script>
        $.post("HomeController/SaveNewCar", { CarModel: $("cc").val() })
        function myFunction() {
            document.getElementById("NewCar").submit();
        }
    </script>

</body>
</html>*@