﻿@model WebParking.Models.ParkingSpot

@{
    ViewBag.Title = "Add Car At Parking Spot";
}
<html>
<head>
    <style>
        .box1 {
            float: left;
            width: 60%;
        }

        .box2 {
            float: left;
            width: 40%
        }
    </style>
</head>
<body>
    <div class="box1">
        @using (Html.BeginForm("Save", "Home"))
        {
            @Html.HiddenFor(a => a.Id)
            if (Model.CarId == null)
            {
                <p><h4>Parking Spot Id: @Model.Id</h4></p>
                @Html.LabelFor(a => a.CarId)
                @Html.TextBoxFor(a => a.CarId, new { @class = "form-control" })
                @Html.LabelFor(a => a.StartDate)
                @Html.TextBoxFor(a => a.StartDate, new { @class = "form-control" })
                <div style="color:tomato">
                    @Html.ValidationMessageFor(a => a.StartDate)
                </div>
            }
            else
            {
                
                @Html.HiddenFor(a => a.CarId)
                @Html.HiddenFor(a => a.StartDate)
                @Html.HiddenFor(a => a.Car.CarModel)
                @Html.HiddenFor(a => a.Car.CarNumber)
                <p>Parking Spot Id: @Model.Id</p>
                <p>Car Name: @Model.Car.CarModel</p>
                <p>Start Date: @string.Format("{0:g}", Model.StartDate)</p>
                @Html.LabelFor(a => a.EndDate)
                @Html.TextBoxFor(a => a.EndDate, new {  @class = "form-control"})
                <div style="color:tomato">
                    @Html.ValidationMessageFor(a => a.EndDate)
                </div>
            }
            <input class="btn btn-primary" type="submit" value="Save" />

            <div class="btn btn-default">
                @Html.ActionLink("Back", "GetAllParkingSpots")
            </div>
        }
    </div>
    <div class="box2">
        @Html.Action("GetAllCars")
    </div>
</body>
</html>
