﻿@using WebParking.Models
@model IEnumerable<ParkingSpot>
@{
    ViewBag.Title = "GetAllParkingSpots";
    //Layout = null;
}



<html>
<head>
    <style>
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color: DodgerBlue;
            width: 100%;
            border: 1px solid red;
        }

            .flex-container > div {
                background-color: yellow;
                width: 20%;
                margin: 10px;
                padding-left:1px;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
                flex-grow: 1;
                align-items: flex-start;
                font: 12px arial;
            }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>
    <div class="clearfix">
        <h2>GetAllParkingSpots</h2>
        <div class="flex-container">
            @foreach (var p in Model)
            {
                <div>
                    @if (p.IsFree == true || p.Car == null)
                    {
                        <div>
                            <ul style="list-style-type:none">
                                <li>Spot: @p.Id</li>
                                <li>Number:</li>
                                <li>Car:</li>
                                <li>Start Date: @String.Format("{0:g}", p.StartDate)</li>
                            </ul>
                            @Html.ActionLink("Edit", "EditCarAtParkingSpot", new { Id = p.Id })
                        </div>
                    }
                    else
                    {
                        <div>
                            <ul style="list-style-type:none">
                                <li>Spot: @p.Id</li>
                                <li>Number: @p.Car.CarNumber</li>
                                <li>Car: @p.Car.CarModel</li>
                                <li>Start Date: @String.Format("{0:g}", p.StartDate)</li>
                            </ul>
                            @Html.ActionLink("Edit", "EditCarAtParkingSpot", new { Id = p.Id })
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="btn btn-default" style="background-color:greenyellow">
        @Html.ActionLink("History", "HistoryCars")
    </div>
    <div class="btn btn-default" style="background-color:greenyellow">
        @Html.ActionLink("Add car", "AddNewCar")
    </div>
    <div class="btn btn-default" style="background-color:greenyellow">
        @Html.ActionLink("Add parking spot", "AddNewParkingSpot")
    </div>
</body>
</html>

