﻿@model  IEnumerable<WebParking.Models.CarHistory>

<h2>HistoryCars</h2>
<html>
<head>
    <style>
        #qwerty th{
            text-align:center;
            background-color:yellow;
        }
        #qwerty td{
            text-align:center;
            width:150px;
        }
        #qwerty tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        function sortTable() {

        }
    </script>
</head>
<body>
    <div>
        <table id="qwerty" border="1" style="color:black">
            <tr>
                <th>Parking spot ID</th>
                <th>Car model</th>
                <th>Car number</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Difference</th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ParkingSpotId</td>
                    <td>@p.CarModel</td>
                    <td>@p.CarNumber</td>
                    <td>@String.Format("{0:g}", p.StartDate)</td>
                    <td>@String.Format("{0:g}", p.EndDate)</td>
                    <td>@(p.EndDate - p.StartDate)</td>
                </tr>
            }
        </table>

        <div class="btn btn-default">
            @Html.ActionLink("Back", "GetAllParkingSpots")
        </div>
    </div>
</body>
</html>

